<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #DCDCDC;
            width: 21cm;
            padding-left: 2cm;
	        padding-right: 2cm;
	        padding-bottom: 2cm;
	        padding-top: 2cm;
        }
        table.jobdis {
            border-collapse: collapse;
            table-layout: fixed;
        }
        table.jobdis tfoot {
            margin-top: 5px;
        }
        table.jobdis tbody tr {
            margin-bottom: 10px;
        }
        table.jobdis tbody tr td {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    </style>
</head>
<body>

<div>
    <pre style="font-size: 18px; line-height: 200%;">
<strong style="font-size: 20px;">備註:</strong>
    開工日期: <strong class="start-date"></strong>
    完工日期: <strong class="end-date"></strong>

    不包括週六，日及公眾假期。施工期完結以完工日期為準，施工日數僅供參考
</pre>
    <table class="jobdis" width="73%">
        <thead>
        <tr>
            <th style="width: 14%;">付款安排</th>
            <th style="width: 16%; font-size: 18px;"></th>
            <th style="width: 18%; font-size: 18px;"></th>
            <th style="text-align: left; width: 37%; font-size: 18px;">客方已付</th>
            <th style="text-align: left; width: 16%; font-size: 18px;">時間點</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td style="width: 14%;">總價</td>
            <td style="width: 16%; text-align: left; border-top: 1px solid #000000; border-bottom: 2px double #000000;;">100%</td>
            <td style="width: 18%; border-top: 1px solid #000000; border-bottom: 2px double #000000;" class="total-price">78800</td>
            <td style="width: 37%;"></td>
            <td style="width: 16%;"></td>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td style="width: 14%;">訂金:</td>
            <td style="width: 16%; text-align: left;" class="money-split-percentage1">40%</td>
            <td style="width: 18%;" class="money-split1">78800</td>
            <td style="width: 37%;">&#9744;</td>
            <td style="width: 16%;" class="money-split-when-to-pay1">簽約時</td>
        </tr>
        <tr>
            <td style="width: 14%;">一期:</td>
            <td style="width: 16%; text-align: left;" class="money-split-percentage2">30%</td>
            <td style="width: 18%;" class="money-split2">78800</td>
            <td style="width: 37%;">&#9744;</td>
            <td style="width: 16%;" class="money-split-when-to-pay2">水電完成時</td>
        </tr>
        <tr>
            <td style="width: 14%;">二期:</td>
            <td style="width: 16%; text-align: left;" class="money-split-percentage3">20%</td>
            <td style="width: 18%;" class="money-split3">78800</td>
            <td style="width: 37%;">&#9744;</td>
            <td style="width: 16%;" class="money-split-when-to-pay3">泥水完成時</td>
        </tr>
        <tr>
            <td style="width: 14%;">尾期:</td>
            <td style="width: 16%; text-align: left;" class="money-split-percentage4">10%</td>
            <td style="width: 18%;" class="money-split4">78800</td>
            <td style="width: 37%;">&#9744;</td>
            <td style="width: 16%;" class="money-split-when-to-pay4">完工時</td>
        </tr>
        </tbody>
    </table>
    <pre style="font-size: 18px;">

公司指定銀行戶口
名稱 YUEN TAT DECORATION CO
中銀 012-706-1-031441-6

    </pre>
    <table class="jobdis" width="100%" style="line-height: 200%;">
        <thead>
        <tr>
            <th style="width: 48%; text-align: left; ">雙方簽署落實工程</th>
            <th style="width: 4%; font-size: 18px;"></th>
            <th style="width: 48%; font-size: 18px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 48%;">公司:</td>
            <td style="width: 4%;"></td>
            <td style="width: 48%;">客方:</td>
        </tr>
        <tr style="height: 50px;">
            <td style="width: 48%; border-bottom: 1px solid #000000;"></td>
            <td style="width: 4%;"></td>
            <td style="width: 48%; border-bottom: 1px solid #000000;"></td>
        </tr>
        <tr>
            <td style="width: 48%;">代表姓名  :</td>
            <td style="width: 4%;"></td>
            <td style="width: 48%;">姓名     :</td>
        </tr>
        <tr>
            <td style="width: 48%;">身份證號碼:</td>
            <td style="width: 4%;"></td>
            <td style="width: 48%;">身份證號碼:</td>
        </tr>
        <tr>
            <td style="width: 48%;">公司名稱  : </td>
            <td style="width: 4%;"></td>
            <td style="width: 48%;"></td>
        </tr>
        <tr>
            <td style="width: 48%;">日期     :</td>
            <td style="width: 4%;"></td>
            <td style="width: 48%;">日期     :</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
